
.nav{
	width: 100%px;
	height:32px;
	background: #f7f9f8;
	.wrap{
	    width: 1193px;
	    height: 32px;
	    margin: 0 auto;
	   
	    .fl{
	        list-style: none;
	        width: 225px;
	        height: 32px;
	        float: left;
	       li{
	          color: black;
	          height: 32px;
	          text-align: center;
	          font-size: 12px;
	          line-height: 32px;
	          float: left;
	       }
	       .cityadd{
	           color:#008842;
	           width: 111px;
	           height: 32px;
    	       div{
                  float: left;
               }
              .city-tit{
                  width: 63px;
                  height: 32px;
                  .navtb{
                   width: 10px;
                   height: 10px;
                   float: right;
                   margin-top: 12px;
                   background:url(../imgs/header-img.png) no-repeat 1px 3px;
                 
               }
              }
	       }
	       .cityadd:hover .navtb{
	               background-color: #008842;
                  
                   background-position: -24px 3px;
               }
	       .cityadd:hover .city-tit{
	           background: #008842;
	           color: white;
	       }
	    }
	    .fr{
	        width: 502px;
	        height: 32px;
	        float: right;
	        list-style: none;
	        li{
	            float: left;
	            margin-left: 12px;
	            border: 1px solid #f7f9f8;
	            border-bottom: none;
	        }
	        li a{
	            text-decoration: none;
	            color: black;
	            font-size: 12px;
	        }
	        ._myyiguo{
	            height: 32px;
	            position: relative;
	           
	            .mytu{
	                width: 18px;
	                height: 16px;
	                float: left;
	                margin-top: 6px;
	                background:url(../imgs/header-img.png) no-repeat -40px -1px;
	            }
	            .mytb{
	               width: 10px;
                   height: 10px;
                   float: right;
                   margin-top: 7px;
                   margin-right: 11px;
                   background:url(../imgs/header-img.png) no-repeat 1px 3px;
	            }
	        }
	         ._myyiguo:hover{
	          
	            background-color: white;
	            border: 1px solid green;
                border-bottom: none;
//              .myOrder{
//                  display: block;
//              }
	         }
	         

	         
	        
	        ._myyiguo:hover .mytb{
                  background-position: -12px 3px;
            }
            ._phyiguo{
                height: 32px;
                .phtu{
                    width: 18px;
                    height: 16px;
                    float: left;
                    margin-top: 6px;
                    background:url(../imgs/header-img.png) no-repeat -63px -1px;
                }
                .phtb{
                   width: 10px;
                   height: 10px;
                   float: right;
                   margin-top: 7px;
                   margin-right: 11px;
                   background:url(../imgs/header-img.png) no-repeat 1px 3px;
                }
            }
             
             
             
            ._phyiguo:hover{
                background-color: white;
                border: 1px solid green;
                border-bottom: none;
                .phtb{
                background-position: -12px 3px;
                }
//              .pherwm{
//                  display: block;
//              }
            }
           
            
            
            
            .card{
               
                height: 32px;
                .cardtu{
                    width: 21px;
                    height: 17px;
                    float: left;
                    margin-top: 6px;
                    background:url(../imgs/header-img.png) no-repeat -147px -1px;
                }
            }
            .card:hover a{
                color: green;
            }
            ._login:hover a{
                color: green;
            }
             ._register:hover a{
                color: green;
            }
            .mobile{
               
                height: 32px;
                .mobiletu{
                    width: 21px;
                    height: 17px;
                    float: left;
                    margin-top: 6px;
                    background:url(../imgs/header-img.png) no-repeat -82px -1px;
                }
            }
            .mobile:hover a{
                color: green;
            }
	    }
	}
	.myOrder{
	    width: 137px;
	    height: 200px;
	    position: absolute;
	    right: 432px;
	    top: 33px;
	    border: 1px solid green;
	    border-top: none;
	    list-style: none;
	    z-index: 99; 
	    display: none;
	     background: white;
	    li{
	       height:25px;
	       line-height: 25px;
	       margin-left: 15px;
	        a{
	          text-decoration: none;
	          font-size: 12px;
	          color: #000000;
	        }
	    }
	    li:hover a{
	        color: green;
	    }
	    li:nth-child(2) .couponyj{
	      display: inline-block;
	      font-size: 20px;
	      position: absolute;
	      top: 28px;
	      left: 83px;
	      width: 20px;
	      height: 20px;
	      background: green;
	      text-align: center;
	      border-radius: 5px;
	      cursor:pointer;
	    }
	}
	.pherwm{
	    width: 137px;
        height: 310px;
        position: absolute;
        right: 330px;
        top: 33;
        border: 1px solid green;
        border-top: none;
        list-style: none;
        z-index: 99;
        display: none;
        background: white;
        li{
            text-align: center;
            font-size: 12px;
            margin-top: 3px;
        }
	}
}
.searchss{
    width: 100%;
    height: 80px;
    background: #e0e0e0;
   .searchbox{
       width: 1193px;
        height: 80px;
        position: relative;
        margin: 0 auto;
        
        img{
            margin-top: 15px;
        }
        .searchcx{
            width:526px;
            height: 30px;
            position: absolute;
            top: 15px;
            left: 290px;
            border: 1px solid green;
            input:nth-child(1){
                width: 421px;
                height: 30px;
                float: left;
                padding-left:20px ;
                border: none;
                outline: none;
            }
            input:nth-child(2){
                width: 85px;
                height: 30px;
                line-height: 30px;
                background:#008842;
                color: white;
                float: left;
                text-align: center;
                border: none;
            }
        }
        .goodslist{
            width: 400px;
            height: 15px;
            position: absolute;
            top: 52px;
            left: 280px;
            list-style: none;
            li{
                float: left;
                margin-left: 10px;
               
                vertical-align: top;
                a{
                    text-decoration: none;
                    color: black;
                    font-size: 12px;
                }
            }
            
        }
        #spcart{
            width:170px;
            position: absolute;
            right: 32px;
            top: 15px;
            height: 40px;
            background: white;
            border: 1px solid green;
            
            #goodsnum{
                width: 33px;
                height: 25px;
                position: absolute;
                line-height: 25px;
                color: #00888e;
                left: 50px;
                font-size: 12px;
                font-weight: 600;
                top: 4px;
                text-align: center;
                background: url(../imgs/header-img.png) no-repeat -108px 8px;
            }
            #price{
                 color: #00888e;
                 position: absolute;
                 top: 3px;
                 left: 93px;
                 font-size: 25px;
                 
            }
        }
   }
}


.lunbo{
    width: 100%;
   height: 500px;
   position: relative;
   #lunbotu{
       width: 1515px;
       height: 500px;
//     position: absolute;
       border: 1px solid green;
       overflow: hidden;
       margin: 0 auto;
       list-style: none;
       img{
           width: 1515px;
           height: 500px;
           position: absolute;
           top: 0;
//         transform: scale(1.1,1.1);
//         transition: all 2s;
       }
      
   }
// #lunbotu:hover img{
//     transform: scale(0.9,0.9);
// }
   .prev,.next{
            width: 45px;
            height: 100px;
            background: black;
            position: absolute;
            top: 0;
            bottom: 0;
            margin: auto;
            color: white;
            font-size: 30px;
            line-height: 100px;
            text-align: center;
            opacity: 0.3;
            display: none;
       }
       .next{
           right: 0;
       }
       #pointd{
           width: 100px;
           height: 30px;
           position: absolute;
           left: 700px;
           bottom: 10px;
           list-style: none;
           li{
               display: inline-block;
               width: 20px;
               height: 20px;
               border-radius: 10px;
               background:#E0E0E0;
               margin: 5px 14px;
           }
           .pp{
               background: green;
           }
       }
      .allgoods{
          width:200px;
          height:40px;
          position: absolute;
          top: 0px;
          left: 162px;
          color: white;
          text-align: center;
          line-height: 40px;
          background: green;
          .sanjiao{
              border-bottom: 5px solid green;
              border-left: 5px solid green;
              border-right: 5px solid green;
              border-top: 5px solid white;
              float: left;
              position: absolute;
              right: 35px;
              top:19px;
              cursor: pointer;
          }
      }
      
      
      
      
      #goodslist{
          display:none;
          width: 200px;
          height: 419px;
          background: antiquewhite;
          opacity: 0.8;
          position: absolute;
          top: 40px;
          left: 162px;
          list-style: none;
          li{
              width: 200px;
              height: 40px;
              position: relative;
            
              
              div{
                  display: inline-block;
                  width: 120px;
                  height: 40px;
                  position: relative;
                  text-align: center;
                  margin-left: 15px;
                  line-height: 40px;
                  transition: all 1s;
                  i{
                      display: inline-block;
                      width: 20px;
                      height: 20px;
                      position: absolute;
                      top:9px;
                      left: 0px;
                      background: url(../imgs/floor_guide.png) no-repeat;
                      background-position: -10px -11px;
                  }
                  a{
                      text-decoration: none;
                      color: black;
                  }
              }
              span{
                  display: inline-block;
                  position: absolute;
                  color: green;
                  right: 10px;
                  top:10px;
                  display: none;
              }
          }
          li:hover {
              background: white;
              div{
                  margin-left: 30px;
              }
              span{
                  display: block;
              }
          }
          li:nth-child(2) div i{
             background-position: -50px -11px;
          }
          li:nth-child(3) div i{
             background-position: -90px -11px;
          }
          li:nth-child(3) div i{
             background-position: -130px -11px;
          }
          li:nth-child(4) div i{
             background-position: -170px -11px;
          }
           li:nth-child(5) div i{
             background-position: -210px -11px;
          }
           li:nth-child(6) div i{
             background-position: -250px -11px;
          }
           li:nth-child(7) div i{
             background-position: -290px -11px;
          }
           li:nth-child(8) div i{
             background-position: -330px -11px;
          }
           li:nth-child(9) div i{
             background-position: -370px -11px;
          }
           li:nth-child(10) div i{
             background-position: -410px -11px;
          }
          li:nth-child(1):hover{
              
          };
      }
      .box1{
          width: 200px;
          height: 419px;
          background: antiquewhite;
          opacity: 0.8;
          position: absolute;
          top: 40px;
          left: 362px;
          border: 1px solid black;
          list-style: none;
          display: none;
          a{
              color: green;
              font-size: 20px;
          }
          img{
              margin-top: 168px;
              
          }
      }  
}






       .newprodct{
         width: 1193px;
         height:293px;
         
         margin: 0 auto;
       .nparent{
           width: 1143px;
           height: 291px;
        
           margin-top: 30px;
           margin-left: 24px;
           list-style: none;
           li{
             float:left;
              width: 279px;
             height: 291px;
             margin-left: 4px;
             position: relative;
             border: 1px solid black;
               img{
                   width: 279px;
                   height: 291px;
                 
               }
               .newzq{
                   position: absolute;
                    width: 279px;
                   height: 50px;
                   background: #f5f6f8;
                   opacity: 0.6;
                   top: 240px;
              
                   text-align: center;
                   h1{
                       color:black;
                       font-size: 18px;
                   }
                   span{
                       color: black;
                   }
               }
               
           }
           li img:hover{
               border: 2px solid slateblue;
               margin-top: -2px;
           }
       }
      }
    .f1{
        width: 1193px;
        height: 526px;
        border: 1px solid black;
        position: relative;
        background: #f7f8f8;
        margin: 0 auto;
       .fle{
           width: 133px;
           height: 37px;
           background: url(../imgs/F1.jpg) no-repeat;
           background-color: #f7f8f8;
           span{
               float:right;
               margin-top: 20px;
           }
       }
       .fr{
           list-style: none;
           position: absolute;
           top:5px;
           right: 0;
           li{
               float: left;
               border-right: 1px solid black;
               margin-left: 10px;
           }
           li:nth-child(3){
               border-right: none;
           }
       }
    }
